.center {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 32px);
    align-items: center;
    justify-content: space-evenly;
    text-align: left;
    width: calc(100vw - 32px);
}

.inner {
    margin-bottom: 50px;
    display: flex;
    width: 30%;
    flex-direction: column;
    padding: 16px;
}